@media screen and (min-width: 1024px){
    .page{
        width:1476px;
        height: 3500px;
        background-color: var(--background-color);  
        padding: 0 5%;
    }
    
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    html{
        font-size: 10.6px;
    }
    .page{
        width: 100%;
        height: 3500px;
        background-color: var(--background-color);  
        padding: 0 5%;
    }
    /* header */
    .contentHeader> .nav>h5 {
        font-size: 10px;
    }
    .contentHeader> .sheach {
        height: 38%;
    }
    .contentHeader> .sheach>input{
        padding-left: 15%;
    }
    .contentHeader> .sheach> .ti-search{
        top: 25%;
    }
    /* main */
    .contener main .ProductDetail .ProductDetailContent .color {
        height: 11%;
    }
    .contener main .ProductDetail .ProductDetailContent .side {
        width: 100%;
        height: 9%;
    }
    .contener main .commentUser .header .left {
        width: 20%;
    }
    .contener main .commentUser .header .right {
        width: 51%;
    }
    .contener main .commentUser .header .right i {
        top: 45%;
        left: 8%;
    }

   /* footer */
    .Feedback>h1 {
        font-size: 26px;
    }

    footer > .mainFooter {
        width: 100%;
        height: 50%;
        margin: 19% 0 0% 0;
        padding: 0 5%;
    }
    .content>img {
        width: 80%;
        height: 20%;
    }
    .content>h5 {
        font-size: 7px;
    }
    .content> .media>i {
        font-size: 15px;
    }
    .content1> .content11>ul>li {
        font-size: 10px;
    }
    .footer> .pay {
        width: 40%;
    }
    
}
@media  screen and (max-width: 767px){
    html{
        font-size: 9.6px;
    }
    .page{
        width: 100%;
        height: 3500px;
        background-color: var(--background-color);
        padding: 0 5%;
    }
    .contentHeader{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .SEOSignUp>h4, .SEOSignUp>h4>a, .ti-close{
       font-size: 10px;
    }

    .contentHeader> .logo{
        width: 25%;
        height: 45%;
    }
    .contentHeader> .logo>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .contentHeader> .nav, .contentHeader> .sheach>input{
        display: none;
    }
    .NavMobile{
        display: block;
        width: 10%;
        height: 15%;
        position: relative;
        text-align: left;

    }

    .NavMobile> i{
        font-size: 20px;

    }
    .contentNavMobile{
        position: absolute;
        width: 100px;
        height: 150px;
        text-align: left;
        z-index: 9999;
        background-color: var(--background-color1);
        top: 110%;
        display: none;
    }
    .contentNavMobile> #nav{
        width: 100%;
        height: 100%;
    }
    .contentNavMobile> #nav>h5{
        margin: 4% 0;
        font-size: 16px;
    }
    .contentNavMobile> #nav>h5:hover{
        color: var(--text-color3);
    }

     .contentHeader> .sheach{
        width: 10%;
        height: 30%;
        position: relative;
        margin-left: 30%;

        
    }
    .contentHeader> .sheach> .ti-search{
        position: absolute;
        left: 25%;
        top: 30%;
        font-size: 24px;
        color: var(--text-color3);        
    }

    .contentHeader> .Cart_Individual{
        width: 25%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .contentHeader> .Cart_Individual> i{
        font-size: 25px;
    }

    /* main */
    .contener main .ProductDetail{
        display: block;
    }
    .contener main .ProductDetail .ProductDetailImg{
        display: block;
        width: 100%;
        position: relative;
        height: 50%;
    }
    .contener main .ProductDetail .ProductDetailImg .ProductDetailImgLeft{
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 20%;
        display: flex;
        justify-content: space-between;
    }
    .contener main .ProductDetail .ProductDetailImg .ProductDetailImgLeft img {
        width: 30%;
        height: 100%;
        height: 80%;
        /* margin: -26% 0; */
    }
    .contener main .ProductDetail .ProductDetailImg .ProductDetailImgRight{
        width: 100%;
        height: 40%;
        position: absolute;
       top: 0;

    }
    .contener main .ProductDetail .ProductDetailContent{
        width: 100%;
        height: 50%;
    }
    #my-svg circle  {
        cx: 17;
        cy: 17;
        r: 17;
    }
    .contener main .commentUser .header .left {
        width: 30%;
    }
    .contener main .commentUser .header .right {
        width: 65%;
        height: 25%;
    }
    .contener main .commentUser .header .right select{
        display: none;
    }
    .contener main .commentUser .header .right svg {
        width: 19%;
    }
    .my-svg circle{
        cx: 20;
        cy: 20;
        r : 20;
    }
    .contener main .commentUser .header .right i {
        top: 25%;
        left: 17%;
    }
    .contener main .commentUser .content {
        height: 87%;
    }

    .contener main .commentUser .content .Comment {
        width: 100%;
        height: 15%;
    }
    .contener main .productSuggestions .mainproductSuggestions .SuggestionsProduct {
        width: 43%;
    }
    

    /* footer */
    .Feedback{
        width: 95%;
        top: -40%;
        left: 2.5%;
        display: block;
    }
    .Feedback>h1{
        font-size: 27px;
        width: 100%;
        padding: 2%;
    }
    .Feedback> .Mailing {
        width: 100%;
        height: 40%;
        position: relative;
    }
    .Mailing>input, .Mailing>button{
        height: 45%;
        font-size: 14px;
    }
    .Mailing> .ti-email{
        top: 12%;
    }

    footer > .mainFooter {
        width: 100%;
        height: 68%;
        margin: 10% 0 0% 0;
        padding: 0 5%;
    }
    .ContentFooter{
        display: block;
        height: 70%;
    }
    .ContentFooter .content{
        width: 100%;
        height: 15%;
    }
    .content>img{
        width: 33%;
        height: 44%;
    }
    .content>h5{
        margin: 5% 0;
    }
    .content> .media{
        width: 70%;
        margin: 13% 0;
    }
    .content> .media>i {
        font-size: 15px;
    }

    .content1 {
        width: 100%;
        height: 100%;
        margin: 20% 0 5% 0;
    }
    .content11{
        width: 42%;
        margin: 1% 0;
    }
    .content1> .content11>h1, .content1> .content11>ul>li{
        font-size: 14px;
        margin: 5% 0;
    }

    footer> .footer{
        display: block;
        text-align: center;
        padding: 5%;
    }
    .footer> .pay{
        margin: 5% 8%;
    }
}


