@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}

:root {
  --background-color:#000000;
  --background-color1:#FFFFFF;
  --background-color2:#F2F0F1;
  --background-color3:#F0F0F0;
  --background-color4:#ededed;
  --text-color:#FFFFFF;
  --text-color1:#000000;
  --text-color2:#FF3333;
  --text-color3:#909090;
}

html {
  font-size: 16px;
}

.contener > header {
  width: 100%;
  height: 100%;
  background-color: var(--background-color1);
  grid-area: header;
  position: relative;
}

.mainHeader {
  width: 100%;
  height: 100%;
}

.mainHeader > .SEOSignUp {
  width: 100%;
  height: 20%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SEOSignUp > h4, .SEOSignUp > h4 > a {
  color: var(--text-color);
}

.SEOSignUp > .ti-close {
  position: absolute;
  right: 30%;
}

.ti-close {
  top: 30%;
  right: 7%;
  width: 2%;
  color: var(--background-color1);
  font-size: 1.1rem;
}

.contentHeader {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentHeader > .logo {
  width: 15%;
  height: 35%;
}

.contentHeader > .logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contentHeader > .nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.NavMobile {
  display: none;
}

.contentHeader > .nav > h5 {
  font-size: 16px;
}

.contentHeader > .nav > h5:hover {
  color: var(--text-color3);
}

.contentHeader > .sheach {
  width: 35%;
  height: 45%;
  position: relative;
}

.contentHeader > .sheach > input {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  font-size: 16px;
  background-color: var(--background-color3);
  color: var(--text-color3);
  border-radius: 62px;
  border: none;
}

.contentHeader > .sheachMobile {
  width: 60%;
  height: 20%;
  display: none;
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.contentHeader > .sheachMobile > input {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  font-size: 16px;
  background-color: var(--background-color3);
  color: var(--text-color3);
  border-radius: 62px;
  border: none;
}

.contentHeader > .sheach > input:focus {
  outline: none;
}

.contentHeader > .sheach > .ti-search {
  position: absolute;
  left: 2%;
  top: 30%;
  font-size: 30px;
  color: var(--text-color3);
}

.contentHeader > .Cart_Individual {
  width: 10%;
  height: 30%;
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contentHeader > .Cart_Individual > i {
  font-size: 30px;
}

.menu-product {
  width: 90%;
  height: 200%;
  background-color: var(--background-color1);
  color: var(--text-color1);
  position: absolute;
  top: 100%;
  left: 5%;
  display: none;
  justify-content: space-around;
  z-index: 999999;
}

.menu-product > .product, .imageProduct {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.product > header {
  width: 100%;
  height: 20%;
  border-bottom: 2px solid var(--text-color3);
}

.product > header > h1 {
  font-size: 27px;
}

.product > .mainMeuProduct {
  width: 100%;
  height: 75%;
  margin: 1% 0%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px; /* Khoảng cách giữa các thẻ */
  overflow-x: auto;
}

.product > .mainMeuProduct > a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  color: var(--text-color1);
  margin: 1% 0;
}

.product > .mainMeuProduct > a:hover {
  color: var(--text-color3);
}

.page {
  width: 1470px;
  height: 3500px;
  background-color: var(--background-color);
  padding: 0 5%;
}
.page .contener {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 80% 15%;
  grid-template-areas: "header" "main" "footer";
}
.page .contener main {
  width: 100%;
  height: 100%;
  grid-area: main;
}

.contener > footer {
  width: 100%;
  height: 100%;
  background-color: var(--background-color2);
  grid-area: footer;
  position: relative;
}

.Feedback {
  width: 95%;
  height: 40%;
  background-color: var(--background-color);
  border-radius: 20px;
  position: absolute;
  top: -20%;
  left: 2.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Feedback > h1 {
  color: var(--text-color);
  font-size: 40px;
  width: 50%;
}

.Feedback > .Mailing {
  width: 40%;
  height: 80%;
  position: relative;
}

.Mailing > input {
  width: 100%;
  height: 45%;
  background-color: var(--background-color1);
  border-radius: 62px;
  font-size: 16px;
  margin-bottom: 1%;
  padding-left: 15%;
  border: none;
}

.Mailing > button {
  width: 100%;
  height: 45%;
  background-color: var(--background-color1);
  border-radius: 62px;
  font-size: 16px;
  margin-top: 1%;
  border: none;
}

.Mailing > .ti-email {
  font-size: 16px;
  position: absolute;
  top: 18%;
  left: 7%;
  color: var(--text-color1);
}

footer > .mainFooter {
  width: 100%;
  height: 50%;
  margin: 10% 0 0% 0;
  padding: 0 5%;
}

.ContentFooter {
  width: 100%;
  height: 100%;
  /* margin: 10% 0 0% 0; */
  display: flex;
  justify-content: space-around;
}

.ContentFooter .content {
  width: 15%;
  height: 100%;
}

.content > img {
  width: 60%;
  height: 10%;
}

.content > h5 {
  width: 100%;
  height: 40%;
  font-size: 14px;
  color: var(--text-color3);
  margin: 15% 0;
}

.content > .media {
  width: 100%;
  height: 20%;
  font-size: 14px;
  margin: 15% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content > .media > i {
  font-size: 20px;
}

.content1 {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.content11 {
  width: 20%;
}

.content1 > .content11 > h1 {
  text-align: center;
  font-size: 16px;
  margin: 5% 0;
}

.content1 > .content11 > ul {
  width: 100%;
  height: 60%;
  text-align: center;
}

.content1 > .content11 > ul > li {
  font-size: 16px;
  margin: 10% 0;
  list-style-type: none;
  font-size: 16px;
  color: var(--text-color3);
}

footer > .footer {
  width: 100%;
  height: 20%;
  border-top: 2px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.footer > h5 {
  font-size: 14px;
  color: var(--text-color3);
}

.footer > .pay {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  padding: 0 2%;
}

header {
  border-bottom: 2px solid var(--text-color3);
}

main {
  background-color: var(--background-color1);
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
main .sidebar {
  width: 23%;
  height: 30%;
  border: 2px solid var(--background-color2);
  border-radius: 20px;
  padding: 2%;
}
main .sidebar .headerSidebar {
  width: 100%;
  height: 30%;
  overflow-x: auto;
  border-bottom: 2px solid var(--text-color3);
}
main .sidebar .headerSidebar .filter {
  width: 100%;
  height: 10%;
  border-bottom: 2px solid var(--text-color3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
main .sidebar .headerSidebar .filter h1 {
  font-size: 1.25rem;
  margin: 5% 0;
}
main .sidebar .headerSidebar .filter i {
  font-size: 1.2rem;
}
main .sidebar .headerSidebar .nav {
  width: 100%;
  height: 15%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .sidebar .headerSidebar .nav a, main .sidebar .headerSidebar .nav i {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color3);
}
main .sidebar .headerSidebar .nav:hover {
  border-left: 7px solid var(--background-color);
}
main .sidebar .mainSidebar {
  width: 100%;
  height: 50%;
  margin: 5% 0;
  border-bottom: 2px solid var(--text-color3);
}
main .sidebar .mainSidebar .Price {
  width: 100%;
  height: 20%;
  border-bottom: 2px solid var(--text-color3);
}
main .sidebar .mainSidebar .Price h1 {
  font-size: 1.25rem;
}
main .sidebar .mainSidebar .Price input {
  width: 100%;
  height: 10%;
}
main .sidebar .mainSidebar .Color {
  width: 100%;
  height: 40%;
  border-bottom: 2px solid var(--text-color3);
}
main .sidebar .mainSidebar .Color .titleColor {
  width: 100%;
  height: 20%;
}
main .sidebar .mainSidebar .Color .titleColor h1 {
  font-size: 1.25rem;
}
main .sidebar .mainSidebar .Color .contentColor {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: auto;
}
main .sidebar .mainSidebar .Color .contentColor input {
  width: 40px; /* Điều chỉnh kích thước của checkbox */
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Ẩn giao diện checkbox mặc định */
  background-color: transparent; /* Xóa nền mặc định */
  border-radius: 50%; /* Áp dụng border-radius thành hình tròn */
  border: 2px solid var(--text-color1);
}
main .sidebar .mainSidebar .Color .contentColor input:checked {
  background-image: url(../img/checkIcont.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 61%;
}
main .sidebar .mainSidebar .Size {
  width: 100%;
  height: 40%;
  margin-top: 5%;
}
main .sidebar .mainSidebar .Size .titleSize {
  width: 100%;
  margin-bottom: 1%;
  height: 20%;
}
main .sidebar .mainSidebar .Size .titleSize h1 {
  font-size: 1.25rem;
}
main .sidebar .mainSidebar .Size .contentSize {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: auto;
}
main .sidebar .mainSidebar .Size .contentSize label {
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
main .sidebar .mainSidebar .Size .contentSize label input {
  width: 35%;
  height: 100%;
}
main .sidebar .footerSidebar {
  width: 100%;
  height: 19%;
}
main .sidebar .footerSidebar .headerFooterSidebar {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}
main .sidebar .footerSidebar .headerFooterSidebar h1 {
  font-size: 1.25rem;
}
main .sidebar .footerSidebar .mainFooterSidebar {
  width: 100%;
  height: 60%;
  overflow-x: auto;
}
main .sidebar .footerSidebar .mainFooterSidebar .content {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}
main .sidebar .footerSidebar .mainFooterSidebar .content h4, main .sidebar .footerSidebar .mainFooterSidebar .content i {
  color: var(--text-color3);
  font-size: 0.875rem;
}
main .sidebar .footerSidebar .mainFooterSidebar .content:hover {
  border-left: 7px solid var(--background-color);
}
main .sidebar .footerSidebar .footerSidebar {
  width: 100%;
  height: 30%;
}
main .sidebar .footerSidebar .footerSidebar button {
  width: 100%;
  height: 100%;
  border-radius: 62px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
}
main .sidebar .footerSidebar .footerSidebar button:hover {
  transition: linear 1s;
  background-color: var(--text-color3);
}
main .contentMain {
  width: 74%;
  height: 94%;
  padding: 2% 0;
}
main .contentMain .headerContentMain {
  width: 100%;
  height: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .contentMain .headerContentMain h1 {
  font-size: 2rem;
}
main .contentMain .headerContentMain .showing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
main .contentMain .headerContentMain .showing p {
  font-size: 1rem;
  color: var(--text-color3);
}
main .contentMain .mainContentMain {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start;
}
main .contentMain .mainContentMain .lissProduct {
  width: 30%;
  height: 15%;
}
main .contentMain .mainContentMain .lissProduct .imgProduct {
  width: 100%;
  height: 60%;
}
main .contentMain .mainContentMain .lissProduct .imgProduct img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
main .contentMain .mainContentMain .lissProduct .imgProduct img:hover {
  transition: linear 1.5s;
  transform: scale(1.1);
}
main .contentMain .mainContentMain .lissProduct .nameProduct {
  width: 100%;
  margin: 5% 0;
}
main .contentMain .mainContentMain .lissProduct .nameProduct h2 {
  font-size: 1.25rem;
}
main .contentMain .mainContentMain .lissProduct .evaluate {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
main .contentMain .mainContentMain .lissProduct .evaluate i {
  color: orange;
  font-size: 1.2rem;
}
main .contentMain .mainContentMain .lissProduct .priceProduct {
  width: 70%;
  height: 10%;
  margin-top: 2%;
}
main .contentMain .mainContentMain .lissProduct .priceProduct h2 {
  font-size: 1.5rem;
}
main .contentMain .footerContentMain {
  width: 100%;
  height: 5%;
}/*# sourceMappingURL=Casual.css.map */