@import "masterLayout/mainPersonal";
.contentMain{
    overflow: auto;
    .listProduct{
        border-bottom: 2px solid var(--text-color3);
        @include FlexCenter;
        justify-content: space-between;
        width: 100%;
        height: 20%;
        margin-top: 5%;
        
        .img{
            width: 20%;
            height: 100%;
            img{
                @include WidthHieght;
            }
        }
        .content{
            width: 30%;
            height: 100%;
            word-wrap: break-word;


            h1{
                font-size: 1.5rem;
            }
            h4{
                margin: 2% 0;
                font-size: 1rem;
                color: var(--text-color3);
            }
        
        }
        form{
            width: 40%;
            height: 100%;
            @include FlexCenter;
            justify-content: space-around;
        
            input:nth-child(1){
                width: 60%;
                height: 75%;
                font-size: 1.2rem;
                border-top: none;
                border-left: none;
                border-right: none;
            }
            input:nth-child(1):focus{
                outline: none;
            }
            input:nth-child(2){
                width: 35%;
                height: 30%;
                font-size: 1rem;
                background-color: var(--background-color);
                color: var(--text-color);
                border: none;
                border-radius: 10px;
            }
            input:nth-child(2):hover{
                background-color: var(--text-color3);
                transition: linear 1s;

            }
        }
    }

    .listComment{
        border-bottom: 2px solid var(--text-color3);
        @include FlexCenter;
        justify-content: space-between;
        width: 100%;
        height: 20%;
        margin-top: 5%;

        .img{
            width: 20%;
            height: 100%;

            img{
                @include WidthHieght;
            }
        }
        .content{
            width: 30%;
            height: 100%;
            word-wrap: break-word;
            
            h1{
                font-size: 1.5rem;
                max-width: 90%;
            }
            h4{
                width: 90%;
                height: 75%;
                margin: 2% 0;
                font-size: 1rem;
                color: var(--text-color3);
            }
        
        }
        form{
            width: 40%;
            height: 100%;
            @include FlexCenter;
            justify-content: space-around;
        
            input{
                width: 60%;
                height: 75%;
                font-size: 1.2rem;
                border-top: none;
                border-left: none;
                border-right: none;
            }
            input:focus{
                outline: none;
            }
            .button{
                width: 35%;
                height: 100%;

                button{
                    width: 100%;
                    height: 30%;
                    font-size: 1rem;
                    background-color: var(--background-color);
                    border: none;
                    border-radius: 10px;
                    display: block;
                    margin: 18% 0;
                    color: var(--text-color);
                    
                    a{
                        color: var(--text-color);
                        text-decoration: none;
                    }
                }
                button:hover{
                    background-color: var(--text-color3);
                    transition: linear 1s;
    
                }
            }
        }
    }

}