*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}
:root{
    --background-color:#000000;
    --background-color1:#FFFFFF;
    --background-color2:#F2F0F1;
    --background-color3:#F0F0F0;
    --text-color:#FFFFFF;
    --text-color1:#000000;
    --text-color2:#FF3333;
    --text-color3:#909090;
}

.page{
    width: 1440px;
    height: 3500px;
    background-color: var(--background-color);
    padding: 0 5%;
}
.contener{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 5% 55% 15%;
    grid-template-areas: "header" 'Banner' "BrandName" "main" "footer";

}

.contener>header{
    width: 100%;
    height: 100%;
    background-color: var(--background-color1);
    grid-area: header;
    position:relative;
}
.mainHeader{
    width: 100%;
    height: 100%;
}
.mainHeader> .SEOSignUp{
    width: 100%;
    height: 20%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.SEOSignUp>h4, .SEOSignUp>h4>a, .ti-close{
    color: var(--text-color);
}
.SEOSignUp>.ti-close{
    position: absolute;
    right: 10%;
}

.contentHeader{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contentHeader> .logo{
    width: 15%;
    height: 35%;
}
.contentHeader> .logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contentHeader> .nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}
.NavMobile{
    display: none;
} 

.contentHeader> .nav>h5{
    font-size: 16px;
}
.contentHeader> .nav>h5:hover{
    color: var(--text-color3);
}

.contentHeader> .sheach{
    width: 35%;
    height: 45%;
    position: relative;
    
}
.contentHeader> .sheach>input{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    font-size: 16px;
    background-color: var(--background-color3);
    color: var(--text-color3);
    border-radius: 62px;
    border: none;
    
}
.contentHeader> .sheach>input:focus{
    outline: none;
}
.contentHeader> .sheach> .ti-search{
    position: absolute;
    left: 2%;
    top: 30%;
    font-size: 30px;
    color: var(--text-color3);
}
.contentHeader> .Cart_Individual{
    width: 10%;
    height: 30%;
    margin-left: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contentHeader> .Cart_Individual> i{
    font-size: 30px;
}

.menu-product{
    width: 90%;
    height: 200%;
    background-color: var(--background-color1);
    color: var(--text-color1);
    position: absolute;
    top: 100%;
    left: 5%;
    display: none;
    justify-content: space-around;
}
.menu-product> .product, .imageProduct{
    width: 50%;
    height: 100%;
    border: 2px solid;
    padding: 5%;
    box-sizing: border-box;
}
.product>header{
    width: 100%;
    height: 20%;
    border-bottom: 2px solid;
}
.product>header>h1{
    font-size: 27px;
}
.product>main{
    width: 100%;
    height:75%;
    margin: 10% 0%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px; /* Khoảng cách giữa các thẻ */
    overflow-x: auto;
}
.product>main>a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    color: var(--text-color1);
    margin: 2% 0;
}
.product>main>a:hover{
    color: var(--text-color3);
}
.imageProduct{
    /* margin-left: 5%; */
}

.menu-product> .demand{
    width: 33%;
    height: 100%;
    border: 2px solid;
}
.menu-product> .imageProduct{
    width: 33%;
    height: 100%;
    border: 2px solid;
}

.contener> .Banner{
    width: 100%;
    height: 100%;
    background-color: var(--background-color2);
    grid-area: Banner;
    display: flex;
}
.Banner> .contentBanner{
    width: 60%;
    height: 100%;
    padding: 5%;
}
.contentBanner>h1{
    font-size: 64px;
    color: var(--text-color1);
}
.contentBanner>h5{
    font-size: 16px;
    color: var(--text-color3);
    margin: 2% 0%;
}
.contentBanner>button{
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 2% 0%;
    width: 30%;
    height: 10%;
    border-radius: 62px;
}
.contentBanner>button:hover{
    font-size: 20px;
    color: var(--text-color1);
    background-color: var(--background-color1);
    border: none;
    transition: ease-in-out 1.3s;
    transform: scale(1.2);
}

.contentBanner>footer{
    margin: 5% 0%;
    width: 100%;
    height: 20% ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contentBanner>footer> .contentFooterBanner{
    
}
.contentFooterBanner>h1{
    font-size: 40px;
    color: var(--text-color1);
}
.contentFooterBanner>p{
    font-size: 16px;
    color: var(--text-color3);
}

.Banner> .imageLeft{
    width: 40%;
    height: 100%;
    padding: 5%;
    position: relative;

}

.imageLeft>img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    margin-top: 17%;
}
.imageLeft>img:nth-child(2), .imageLeft>img:nth-child(3){
    position: absolute;
}
.imageLeft>img:nth-child(2){
    top: 50%;
    left: 10%;
    width: 8%;
    height: 5%;
}
.imageLeft>img:nth-child(3){
    top: 0%;
    right: 5%;
    width: 13%;
    height: 10%;
}

.contener> .BrandName{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    grid-area: BrandName;
    display: flex;
    justify-content: space-around;
    color: var(--background-color1);
    align-items: center;
}
.BrandName>img{
    width: 15%;
    height: 20%
}

.contener>main{
    width: 100%;
    height: 100%;
    background-color: var(--background-color1);
    grid-area: main;
    padding: 5%;
}

.contener>main> .NewProduct{
    width: 100%;
    height: 20%;
    border: 2px solid;
}
.NewProduct>h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 3%;
}
.NewProduct> .ListNewProduct{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: auto;
    scrollbar-width: thin;

}
.ListNewProduct> .NewProduct{
    width: 20%;
    height: 100%;
    margin: 1% 1%;
    flex: 0 0 auto;
}
.NewProduct> .img{
    width: 100%;
    height: 60%;
}
.NewProduct> .img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.NewProduct> .title{
    width: 100%;
    height: 12%;
    margin: 1% 0;
    display: flex;
    align-items: center;
}
.NewProduct> .title>h1{
    font-size: 20px;
}
.NewProduct> .evaluate{
    margin: 1% 0;
    width: 50%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.NewProduct> .evaluate>i{
    color: gold;
}
.NewProduct> .price{
    margin: 1% 0;
    width: 70%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.NewProduct> .price>h1, del{
    font-size: 24px;
}
.NewProduct> .price> del{
    color: var(--text-color3)
}

.contener>main> .Bestseller{
    width: 100%;
    height: 20%;
    border: 2px solid;
    margin: 5% 0;
}
.Bestseller>h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 3%;
}
.Bestseller> .ListBestsellerProduct{
    width: 100%;
    height: 75%;
    border: 2px solid;
}

.contener>main> .BrowseByDressStyle{
    width: 100%;
    height: 30%;
    border: 2px solid;
    margin: 5% 0;
}
.BrowseByDressStyle>h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 3%;
}

.contener>main> .Customers{
    width: 100%;
    height: 15%;
    border: 2px solid;
    margin: 5% 0;
}
.Customers>h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 3%;
}



.contener>footer{
    width: 100%;
    height: 100%;
    background-color: #151e94;
    grid-area: footer;
}

