@import "masterLayout/main";
@import "masterLayout/mixin";
.contener{
    main{
        width: 100%;
        height: 100%;
        grid-area: main;
        background-color: var(--background-color1);
        border-top: 2px solid var(--text-color3);
        padding: 0 2%;
        
        .ProductDetail{
            @include WidthHieght;
            @include FlexCenter;
            height: 30%;

            .ProductDetailImg{
                @include WidthHieght;
                @include FlexCenter;
                width: 50%;
                justify-content: space-between;
                .ProductDetailImgLeft{
                    @include WidthHieght;
                    width: 30%;   
                    img{
                        @include WidthHieght;
                        height: 30%;
                        margin: 6% 0;
                    }
                 }
                 .ProductDetailImgRight{
                    @include WidthHieght;
                    width: 65%;     
                    img{
                        @include WidthHieght;
                        object-fit: contain
                    }             
                 }
            }

            .ProductDetailContent{
                @include WidthHieght;
                width: 50%;
                 padding: 5% 2%;
                h1{
                    font-size: 2.5rem;
                    margin: 2% 0;
                }
                .evaluate{
                    width: 30%;
                    height: 5%;
                    @include FlexCenter;
                    justify-content: space-around;
                    margin: 2% 0;
                    i{
                        font-size: 1rem;
                        color: orange;
                    }
                }
                .price{
                    width: 30%;
                    height: 5%;
                    @include FlexCenter;
                    justify-content: space-around;
                    margin: 2% 0;
                    h1, del{
                        font-size: 2rem;
                    }
                    del{
                        color: var(--text-color3);
                    }
                }
                p{
                    margin: 2% 0;
                    color: var(--text-color3);
                    font-size: 1rem;

                }
                .color{
                    width: 100%;
                    height: 15%;
                    padding: 2% 0;
                    border-top: 2px solid var(--text-color3);
                    justify-content: space-around;
                    margin: 2% 0;
                    h3{
                        margin: 1% 0;
                       font-size: 1rem;
                       color: var(--text-color3);
                    }
                }
                .side{
                    width: 100%;
                    height: 15%;
                    padding: 2% 0;
                    border-top: 2px solid var(--text-color3);
                    justify-content: space-around;
                    margin: 2% 0;
                    h3{
                        margin: 1% 0;
                       font-size: 1rem;
                       color: var(--text-color3);
                    }
                    button{
                        width: 20%;
                        height: 50%;
                        background-color: var(--background-color3);
                       color: var(--text-color3);
                       margin: 1% 2%;
                        border-radius: 60px;
                        border: none;
                        font-size: 1rem;

                    }
                    button:hover{
                        background-color: var(--background-color);
                        color: var(--text-color)
                    }
                }
                .addTocart{
                    width: 100%;
                    height: 15%;
                    padding: 2% 0;
                    border-top: 2px solid var(--text-color3);
                    justify-content: space-around;
                    @include FlexCenter;
                    margin: 2% 0;

                    input{
                        width: 30%;
                        height: 70%;
                        background-color: var(--background-color3);
                       color: var(--text-color3);
                       margin: 1% 2%;
                        border-radius: 60px;
                        border: none;
                        font-size: 1rem;
                        padding-left: 15%;
                    }
                    button{
                        width: 50%;
                        height: 70%;
                       margin: 1% 2%;
                        border-radius: 60px;
                        border: none;
                        font-size: 1rem;
                        background-color: var(--background-color);
                        color: var(--text-color)

                    }
                    button:hover{
                        background-color: var(--background-color3);
                       color: var(--text-color3);
                    }
                }

                
            }
        }
        .commentUser{
            @include WidthHieght;
            height: 50%;
            background-color: var(--background-color1);
            padding: 5% 0;

            nav{
                width: 100%;
                height: 3%;
                @include FlexCenter;
                justify-content: space-around;
                
                a{
                    border-bottom: 2px solid;
                    text-decoration: none;
                    font-size: 1.25rem;
                    color: var(--text-color3);
                    @include WidthHieght;
                    width: 33.33%;
                    text-align: center;
                }
                a:hover{
                    border-bottom: 2px solid var(--text-color1);
                    color: var(--text-color1);
                }
            }
            .header{
                @include WidthHieght;
                height: 10%;
                justify-content: space-between;
                @include FlexCenter;

                           
                .left{
                    width: 15%;
                    height: 50%;
                    justify-content: space-between;
                    @include FlexCenter;

                    h1{
                        font-size: 1.5rem;
                    }
                    span{
                        font-size: 1rem;
                        color: var(--text-color3);
                        margin-top: 15%;

                    }

                }
                .right{
                    width: 30%;
                    height: 50%;
                    justify-content: space-around;
                    @include FlexCenter;
                    position: relative;

                    svg{
                        width: 15%;
                    }
                    i{
                        position: absolute;
                        top: 38%;
                        left: 7%;
                    }
                    select, button{
                        width: 30%;
                        height: 100%;
                        background-color: var(--background-color3);
                        border-radius: 62px;
                        text-align: center;
                        font-size: 1 rem ;
                        border: none;
                    }
                    button{
                        width: 40%;
                        background-color: var(--background-color);
                        color: var(--text-color);
                    }
                }  
            }       
            .content{
                width: 100%;
                height: 92%;
                @include FlexCenter;
                justify-content: space-between;
                overflow-x: hidden;
                flex-wrap: wrap;

                .Comment{
                    width: 45%;
                    height: 25%;
                    border: 2px solid var(--text-color3);
                    margin: 5% 0;
                    border-radius: 20px;
                    padding: 2%;

                    .Evaluate{
                        width: 50%;
                        height: 10%;
                        @include FlexCenter;
                        justify-content: space-between;
                        
                        i{
                            color: orange;
                            font-size: 1.5rem;
                        }
                    }
                    .NameCustomers{
                        width: 100%;
                        height: 10%;
                        margin: 2% 0;
                        h1{
                            font-size: 1.25rem;
                        }
                    }
                    .CommentContent{
                        width: 100%;
                        height: 70%;
                        margin: 2% 0;
                        
                        p{
                            color: var(--text-color3);
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .productSuggestions{
            @include WidthHieght;
            height: 50%;
            
            header{
                width: 100%;
                height: 5%;
                @include FlexCenter;
                justify-content: center;
                h1{
                    font-size: 3rem;
                }
            }
            .mainproductSuggestions{
                width: 100%;
                height: 23%;
                margin-top: 2%;
                overflow-x: auto;
                display: flex;

                
                .SuggestionsProduct{
                    width: 20%;
                    height: 100%;
                    margin-left: 5%;
                    
                    .img{
                        width: 100%;
                        height: 60%;
                        
                        img{
                            @include WidthHieght;
                        }
                    }
                    .title, .evaluate, .price{
                        @include WidthHieght;
                        @include FlexCenter;
                        height: 10%;
                        margin: 2% 0;
                    }
                    .title{
                        h1{
                            font-size: 1.25rem;
                        }
                    }
                    .evaluate{
                        @include FlexCenter;
                        justify-content: space-between;
                        font-size: 1.5rem;
                        i{
                            font-size: 1.5rem;
                            color: orange;
                        }
                    }
                    .price{
                        @include FlexCenter;
                        justify-content: space-evenly;
                        h1, del{
                            font-size: 1.5rem;
                        }
                        del{
                            color: var(--text-color3);
                            
                        }

                    }

                }
            }

        }
    }

}


