*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #FFFFFF;
    --background-color-left: #181818;
    --background-color-main: #FFFFFF;
    --background-color-Message: #00CC99;
    --background-color-Message22: #EB5757;
    --background-color-Message33: #F2C94C;
    --background-color-Message1: #E6FAF5;
    --background-color-Message2: #FDEFEF;
    --background-color-Message3: #FDF8E8;
    --text-color: #0C0C0D;
    --text-color1: #A7A7A7;
    --text-color2: #efefef;

}
.page{
    width: 1440px;
    height: 750px;
    gap: 4px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "left right" "left right" ; 
    background-color: var(--background-color-left);
    background-repeat: no-repeat;
    background-size: 1440px 1000px; /* Độ rộng 1440px và chiều cao 1000px */
    position: relative;

}
.Notification{
    width: 450px;
    height: 100px;  
    position: absolute;
    z-index: 99999;
    right: 1%;
    top: 20%

}
.Message{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0, 2%;
    background-color: var(--background-color-Message1);
    /* align-items: center; */
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    min-width: 80%;
    max-width: 100%;
    transition: all linear 0.3s;
}
.Message + .Message{
    margin-top: 24px;
}
.Message>p{
    width: 3%;
    height: 100%;
    background-color: var(--background-color-Message);
    border-radius: 10px;
}
.iconMessage {
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .iconMessage > svg {
    width: 70%;
    height: 100%;
    margin-top:26% ;
  }
  
  .ti-check,.ti-info, .ti-close {
    font-size: 30px;
    color: var(--background-color);
    position: absolute;
}
.ti-check,.ti-info{
      top: 33%;
      left: 11%;
    }
.ti-close{
    top: 35%;
    right: 7%;
    width: 2%;
}
.ti-close:hover{
    color: var(--text-color)
}
  
.Message> .contentMessage{
    width: 50%;
    height: 97%;
    margin-top:3% ;
    text-align: left;
    flex-grow: 1;
}
.contentMessage>h1{
    margin:1%;
    font-weight: 300;
    font-size: 20px;
}
.contentMessage>p{
    line-height: 1;
    width: 80%;
}

@keyframes slideInleft {
    from{
        opacity: 0;
        transform: translateX(calc(100%+2%));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

.toast--error> .Message{
    background-color: var(--background-color-Message2);
}
.toast--error> .Message>p{
    background-color: var(--background-color-Message22);
}
.toast--warning> .Message{
    background-color: var(--background-color-Message3);
}
.toast--warning> .Message>p{
    background-color: var(--background-color-Message33);
}


.page> .left{
    width: 100%;
    height: 100%;
    grid-area: left;
}
.page> .left> .Wellcome{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left> .Wellcome>h1{
    font-size: 60px;
    color: var(--text-color2);
}
.page> .left> .icont{
    width: 100%;
    height: 60%;
    position: relative;
}
.icont img {
    position: absolute;
    width: 100%;
    height: 100%;
    
  }
.page> .right{
    width: 100%;
    height: 100%;
    background-color: var(--background-color-main);
    border-top-left-radius:24px ;
    border-bottom-left-radius: 24px;
    padding: 2% 5%;
    grid-area: right;

}
.right> .contentRight{
    width: 100%;
    height: 100%
}
.contentRight>header{
    width: 100%;
    height: 20%;
}
.contentRight>header>h1{
    font-size: 24px;
    margin-bottom: 3%;
}
.contentRight>header>button{
    font-size: 16px;
    width: 45%;
    height: 50%;
    margin: 2% 2%;
    border-radius: 24px;
    background-color: var(--background-color);
    border: none;
}
.contentRight> .or{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    place-items: center;

}
.contentRight> .or>h1{
    color: var(--text-color1);
    font-size: 24px;

}
.contentRight>main{
    width: 100%;
    height: 50%;

}
.contentRight>main>form{
    width: 100%;
    height: 100%;
    /* border: 2px solid; */

}
.contentRight>main>form>input{
    width: 100%;
    font-size: 24px;
    height: 13%;
    margin: 1% 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--text-color1);
    background-color: var(--background-color-main);
    color: var(--text-color);

}
.contentRight>main>form>select{
    width: 100%;
    font-size: 24px;
    height: 13%;
    margin: 1% 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--text-color1);
    background-color: var(--background-color-main);
    color: var(--text-color);

}
.contentRight>main>form>button{
    width: 100%;
    height: 15%;
    font-size: 24px;
    height: 15%;
    margin: 1% 0;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 24px;
}
.contentRight>main>form>button:hover{
    transition: 1.5s;
    background-color: var(--text-color);
    color: var(--background-color);
}
.contentRight>main>form>input:focus {
    border-bottom: 2px solid var(--text-color1);
    outline: none; /* Loại bỏ đường viền mặc định */
  }
.contentRight>footer{
    width: 100%;
    height: 5%;
}
.contentRight>footer>h3{
    margin: 2% 0;
    font-size: 20px;
    color: var(--text-color1)
}
.contentRight>footer>h3>a{
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}