* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}

:root {
  --background-color:#000000;
  --background-color1:#FFFFFF;
  --background-color2:#F2F0F1;
  --background-color3:#F0F0F0;
  --background-color4:#ededed;
  --text-color:#FFFFFF;
  --text-color1:#000000;
  --text-color2:#FF3333;
  --text-color3:#909090;
}

html {
  font-size: 16px;
}

.contener > header {
  width: 100%;
  height: 100%;
  background-color: var(--background-color1);
  grid-area: header;
  position: relative;
}

.mainHeader {
  width: 100%;
  height: 100%;
}

.mainHeader > .SEOSignUp {
  width: 100%;
  height: 20%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SEOSignUp > h4, .SEOSignUp > h4 > a, .ti-close {
  color: var(--text-color);
}

.SEOSignUp > .ti-close {
  position: absolute;
  right: 10%;
}

.contentHeader {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentHeader > .logo {
  width: 15%;
  height: 35%;
}

.contentHeader > .logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contentHeader > .nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.NavMobile {
  display: none;
}

.contentHeader > .nav > h5 {
  font-size: 16px;
}

.contentHeader > .nav > h5:hover {
  color: var(--text-color3);
}

.contentHeader > .sheach {
  width: 35%;
  height: 45%;
  position: relative;
}

.contentHeader > .sheach > input {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  font-size: 16px;
  background-color: var(--background-color3);
  color: var(--text-color3);
  border-radius: 62px;
  border: none;
}

.contentHeader > .sheachMobile {
  width: 60%;
  height: 20%;
  display: none;
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.contentHeader > .sheachMobile > input {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  font-size: 16px;
  background-color: var(--background-color3);
  color: var(--text-color3);
  border-radius: 62px;
  border: none;
}

.contentHeader > .sheach > input:focus {
  outline: none;
}

.contentHeader > .sheach > .ti-search {
  position: absolute;
  left: 2%;
  top: 30%;
  font-size: 30px;
  color: var(--text-color3);
}

.contentHeader > .Cart_Individual {
  width: 10%;
  height: 30%;
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contentHeader > .Cart_Individual > i {
  font-size: 30px;
}

.menu-product {
  width: 90%;
  height: 200%;
  background-color: var(--background-color1);
  color: var(--text-color1);
  position: absolute;
  top: 100%;
  left: 5%;
  display: none;
  justify-content: space-around;
  z-index: 999999;
}

.menu-product > .product, .imageProduct {
  width: 50%;
  height: 100%;
  border: 2px solid;
  padding: 5%;
  box-sizing: border-box;
}

.product > header {
  width: 100%;
  height: 20%;
  border-bottom: 2px solid;
}

.product > header > h1 {
  font-size: 27px;
}

.mainMeuProduct {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mainMeuProduct a {
  text-decoration: none;
  font-size: 2rem;
}/*# sourceMappingURL=header.css.map */